.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.game-board {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.square {
  width: 100px;
  height: 100px;
  background-color: #9eabab;
  border: 2px solid #f05642;
  border-radius: 10px;
  font-size:  44px;
  font-weight: bold;
  color: #030303;
  cursor: pointer;
  transition: all 0.3s ease;
}

.square:hover {
  background-color: #f05642;
}

.board-row {
  display: flex;
}

.status {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  color: #333333;
}

.game-info ol {
  padding-left: 0;
}

.game-info li {
  list-style-type: none;
  margin-bottom: 10px;
}

.game-info button {
  background-color: #4caf50;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-info button:hover {
  background-color: #45a049;
}

.game-info button:focus {
  outline: none;
}

.winning-square {
  background-color: green;
  color: white;
}
